@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel-slider
        width: 590px
    .swiper
        &-slide
            &__image
                height: 100%
                width: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .packages
        &-wrapper
            grid-gap: 25px
    .footer
        &__input
            flex-basis: 100%
@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
    .map
        width: 340px
    .reviews
        &-title
            margin-bottom: 50px
            font-weight: 700
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
        &-slider
            &__item
                max-width: 580px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 250px
    .packages
        &-title
            margin-bottom: 50px
            font-weight: 700
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
        &-info
            &--big
                max-width: 230px
                padding: 35px 21px 20px 46px
            &--basic
                padding: 25px 21px 20px 32px
            &__title
                margin-bottom: 20px
            &__text
                font-weight: 400
                font-size: 12px
                line-height: 160%
                margin-bottom: 20px
            &__room
                &--big
                    margin-bottom: 20px
                &--basic
                    margin-bottom: 24px
        &-price
            &--new
                font-size: 18px
            &__button
                font-size: 12px
                padding: 11px 14px
        &__oldprice
            font-size: 14px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-gap: 40px
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__aditional
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
            &-form
                flex-wrap: nowrap
                grid-row: 4
                grid-column: span 5
        &__input
            flex-basis: 47%
        &__disclaimer
            grid-column: 1
        &__image
            grid-column: span 2
            grid-column-end: 7
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 100
        &__user, &__search
            &--mobile
                &_hidden
                    display: none
                &_visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 78px
            padding-top: 30px
            &--visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    &_visible
                        display: block
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &-slider
                height: 350px
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            max-width: 576px
            width: 92%
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &:after, &:before
                    display: none
            &__button
                top: 32px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -65px
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
    .activities
        padding-top: 40px
        padding-bottom: 60px
    .card
        width: 49%
        height: 255px
    .packages
        &-wrapper
            grid-gap: 15px
        &__image
            &--big
                height: 450px
            &--basic
                height: 200px
        &-info
            &--big
                max-width: 50%
                padding-top: 25px
                height: 450px
            &--basic
                display: flex
                flex-direction: column
                padding-top: 20px
                justify-content: center
            &__stars
                &--basic
                    display: block
            &__title
                font-size: 14px
                margin-bottom: 10px
            &__text
                font-weight: 400
                font-size: 10px
                line-height: 160%
                margin-bottom: 10px
            &__room
                &--big
                    margin-bottom: 12px
                &--basic
                    margin-bottom: 15px
        &__description
            font-size: 10px
        &-price
            &--new
                font-size: 14px
            &__button
                font-size: 10px
                padding: 8px 10px
        &__oldprice
            font-size: 10px
@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &-slider
            height: 250px
        &__slider
            margin-bottom: 20px
    .newsletter
        padding: 76px 0 83px 0
        &__title
            margin-bottom: 37px
        &-title
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                font-weight: 600
                font-size: 30px
                line-height: 38px
    .subscribe
        width: 100%
    .reviews
        &-title
            font-weight: 700
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            margin-bottom: 42px
    .card
        width: 100%
    .packages
        &-wrapper
            grid-template-columns: repeat(4, 1fr)
        &__image
            &--big
                height: 400px
        &-info
            &--big
                max-width: 50%
                height: 400px
        &__item:nth-child(1)
            grid-column-start: 1
            grid-column-end: 5
            flex-direction: row
        &__item:nth-child(2)
            display: none
        &__item:nth-child(4)
            display: none
        &__item:nth-child(3)
            grid-column-start: 1
            grid-column-end: 3
        &__item:nth-child(5)
            grid-column-start: 3
            grid-column-end: 5
    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__aditional
            grid-row: 3
            grid-column: 1
        &__categories
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
            flex-basis: 100%
        &__disclaimer
            grid-row: 8
            grid-column: 1
            justify-self: start
        &__image
            grid-row: 9
            grid-column: 1
            justify-self: start
@media (max-width: 476px)
    .packages
        &-info
            &__text
                font-size: 9px
@media (max-width: 409px)
    .packages
        &__item:nth-child(1)
            grid-column-start: 1
            grid-column-end: 5
            flex-direction: column
        &__item:nth-child(3)
            display: none
        &__item:nth-child(5)
            grid-column-start: 1
            grid-column-end: 5
        &__image
            &--big
                height: 260px
                max-width: 100%
            &--basic
                height: 250px
        &-info
            &--big
                width: 100%
                height: 260px
                padding-left: 15px
                padding-right: 15px
            &__text
                display: none
        &-price
            &--new
                font-size: 12px
            &__button
                font-size: 10px
                padding: 5px 6px
        &__oldprice
            font-size: 10px